@keyframes slide {
  0% {
    width: 21vw;
  }
  25% {
    width: 22vw;
  }
  50% {
    width: 23vw;
  }
  75% {
    width: 24vw;
  }
  100% {
    width: 25vw;
  }
}
@keyframes slide-big {
  0% {
    width: 19vw;
  }
  100% {
    width: 20vw;
  }
}

@keyframes slide-left {
  0% {
    left: 0vw;
  }
  25% {
    left: -9vw;
  }
  50% {
    left: -18vw;
  }
  75% {
    left: -27vw;
  }
  100% {
    left: -36vw;
  }
}

@keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}