@keyframes slide {
  0% {
    right: 0vw;
  }
  25% {
    right: -1vw;
  }
  50% {
    right: -2vw;
  }
  75% {
    right: -3vw;
  }
  100% {
    right: -4vw;
  }
}
@keyframes slide-left {
  0% {
    left: 0vw;
  }
  25% {
    left: -9vw;
  }
  50% {
    left: -18vw;
  }
  75% {
    left: -27vw;
  }
  100% {
    left: -36vw;
  }
}

@keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}
@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}