@import "_variable.scss";
@import "_mixins.scss";

.navbar {
  @include size(100%, 50px);
  display: flex;
  position: fixed;
  align-items: center;
  font-size: 1.1vw;
  z-index: 10000;
  top: 0;
  padding-right: 3em;
  background: -webkit-linear-gradient(90deg, transparent, rgb(20, 20, 20) );

  .logo {
    @include size(7rem, 65px);
    @include position(null, null, null, 3%);
    position: absolute;
    cursor: pointer;
    padding-top: 0;
    margin-top: 0;
    margin-right: auto;
  }

  a {
    color: $anchor;
    text-decoration: none;
  }

  ul {
    @include size(100%);
    display: flex;
    align-items: center;
    margin-inline-start: 12em;


    li {
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 20px;

      a {
        transition: color 0.3s;
        
        &:hover {
          color: grey;
        }
      }
    }

    @media screen and(max-width: 884px) {
      display: none;
    }
  }

  .side-nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    .kids {
      font-size: 1.1vw;
      text-transform: uppercase;
    }
    li {
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 20px;
      font-size: 1rem;

      i {
        cursor: pointer;
      }

      .fa-bell {
        font-size: 130%;
      }
      
      @media screen and(max-width: 950px) {
        &:nth-child(2) {
          display: none;
        }
      }
    }

    .profile-image-div {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      .fa-caret-down {
        margin-inline-start: -7px;
      }

      li {
        .profile-image {
          @include size(35px, 35px);
        }
      }

      &:hover > .profile-select {
        visibility: visible;
        opacity: 1;
      }

      .profile-select {
        @include size(166px);
        @include profile-div(profile-select-bottom);
        @include profile-div(profile-kids);
        @extend %hover-div;
        padding: 0.4em 0;

        li {
          display: flex;
          align-items: center;
          font-size: 13px;
          color: #fff;
          margin: 0.8em;
          padding-inline-start: 0;

          img {
            @include size(32px, 32px);
          }

          span {
            margin-left: 0.8em;
          }

          a {
            font-weight: 500;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .profile-kids {
          display: none;
          li {
            button {
              color: #fff;
              padding: 1px 6px;
              cursor: pointer;
            }
          }
          @media screen and(max-width: 950px) {
            display: flex;
          }
        }

        @media screen and(max-width: 950px) {
          &:after {
            right: 7%;
          }
        }
      }
    }
  }
}

.banner {
  position: relative;
  z-index: 1;
  
  .banner-background {
    img {
      @include size(100%, auto);
    }
  }

  .banner-div {
    @include size(45%, 130%);
    @include position(22%, null, null, 4%);
    position: absolute;
    z-index: 100;
    display: block;

    img {
      @include size(80%);
    }

    .banner-buttons {
      display: flex;
      margin-top: 2%;
      line-height: 88%;

      button {
        position: relative;
        // display: inline-block;
        background: $banner-button;
        border: none;
        height: 3vw;
        padding: .7em 2.3em;
        color: #fff;
        margin-inline-end: .8em;
        font-size: 1.1vw;
        font-weight: 700;
        outline: none;
        cursor: pointer;

        &:hover {
          background: $banner-button-hover;
          color: #000;
        }

        i {
          margin-right: 0.5em;
        }
      }
    }

    .banner-detail {
      margin-top: 0.9em;
      h3 {
        text-transform: capitalize;
        display: block;
        font-weight: 500;
        font-size: 1.6vw;
        text-align: left;
      }
      p {
        @include size(100%);
        margin-top: 1vw;
        line-height: 150%;
        font-size: 1.4vw;
      }
    }
  }
}