@import "_variable.scss";
@import "_mixins.scss";

/* NAVBAR 
============================== */
.navbar {
  @include size(100%, 60px);
  display: flex;
  position: fixed;
  align-items: center;
  font-size: 1.1vw;
  z-index: 10000;
  top: 0%;
  padding-right: 3em;
  background: -webkit-linear-gradient(90deg, transparent, rgb(20, 20, 20));

  @media screen and(max-width: 884px) {
    @include size(100%, 45px);
    overflow: hidden;
  }

  /*      Logo 
  =========================== */
  .logo {
    @include size(7rem, auto);
    z-index: 100;
    left: 3%;
    position: relative;
    cursor: pointer;
    padding-top: 0;
    margin-top: 0;
  }

  a {
    color: $anchor;
    text-decoration: none;
  }

  /* Middle Links
  ============================= */
  ul {
    @include size(100%);
    display: flex;
    align-items: center;
    margin-inline-start: 4em;

    li {
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 20px;

      a {
        transition: color 0.3s;
        
        &:hover {
          color: grey;
        }
      }
    }

    @media screen and(max-width: 884px) {
      display: none;
    }
  }

  /* Side Links
  ======================== */
  .side-nav {
    display: flex;
    align-items: center;
    margin-left: auto;

    .search-box {
      input {
        width: 10px;
        box-sizing: border-box;
        display: inline-block;
        color: white;
        border: none;
        z-index: 2147483647;
        font-size: 1rem;
        margin: 0;
        background-color: transparent;
        background-image: url('../images/search-icon.png');
        background-position: 8px 6px;
        background-size: 18px; 
        background-repeat: no-repeat;
        padding: 6px 15px;
        cursor: pointer;
        transition: width 0.2s ease-out;
        overflow: hidden;
      }
      input:focus {
        width: 20em;
        z-index: 2147483647;
        transition: width 0.5s ease-in-out;
        background-color: $background;
        border: 1px solid #fff;
        cursor: initial;
        padding: 6px 20px 6px 40px;
        outline: none;
      }

      @media screen and (max-width:800px) {
        input:focus {
          width: 13.8em;
          margin-left: -100px;
        }
      }
      @media screen and (max-width:400px) {
        display: none;
      }
    }

    .kids {
      font-size: 1.1vw;
      text-transform: uppercase;
    }

    li {
      margin-inline-start: 0px;
      margin-inline-end: 0px;
      padding-inline-start: 20px;
      font-size: 1rem;

      i {
        cursor: pointer;
      }

      .fa-bell {
        font-size: 130%;
      }
      
      @media screen and(max-width: 950px) {
        &:nth-child(2) {
          display: none;
        }
      }
    }

    .profile-image-div {
      display: flex;
      align-items: center;
      position: relative;
      cursor: pointer;

      .fa-caret-down {
        margin-inline-start: -7px;
      }

      li {
        .profile-image {
          @include size(35px, 35px);
        }
      }

      /* Profile Tooltip 
      ============================== */
      &:hover > .profile-select {
        visibility: visible;
        opacity: 1;
      }

      .profile-select {
        @include size(166px);
        @include profile-div(profile-select-bottom);
        @include profile-div(profile-kids);
        @extend %hover-div;
        padding: 0.4em 0;

        li {
          display: flex;
          align-items: center;
          font-size: 13px;
          color: #fff;
          margin: 0.8em;
          padding-inline-start: 0;

          img {
            @include size(32px, 32px);
          }

          span {
            margin-left: 0.8em;
          }

          a {
            font-weight: 500;

            &:hover {
              text-decoration: underline;
            }
          }
        }

        .profile-kids {
          display: none;
          li {
            button {
              color: #fff;
              padding: 1px 6px;
              cursor: pointer;
            }
          }
          @media screen and(max-width: 950px) {
            display: flex;
          }
        }

        @media screen and(max-width: 950px) {
          &:after {
            right: 7%;
          }
        }
      }
    }
  }
}


/*    BANNER 
========================== */
.banner {
  position: relative;
  z-index: 1;
  
  .banner-background {    
    img {
      @include size(100%, auto);
    }
  }

  /* Feature Movie Div 
  =============================== */
  .banner-div {
    @include size(45%, auto);
    @include position(0%, 20%, null, 4%);
    @include feature-movie(banner, 80%);
    padding-top: 12vw;
  }
}

/*  Popular on Netflix
============================== */
.movies {
  @include movies;
}

/* Trending Now 
============================== */
.trending {
  @include movies;
  margin-top: 2.5%;
}


/* Middle Video
============================== */
.middle-video {
  position: relative;
  margin-top: -2%;
  overflow: hidden;

  .middle-background {
    position: relative;

    img {
      @include size(100%);
      opacity: 0.08;
    }
  }

  .middle-div {
    @include position(20%, null, null, 4%);
    @include size(100%, auto);
    z-index: 10;
    display: flex;
    align-items: center;
    justify-items: space-around;

    .video-div {
      img {
        @include size(55vw, auto);
      }
    }

    .video-detail {
      // @include size(80%, auto);
      // @include position(0%, 20%, null, 4%);
      @include feature-movie(video, 80%);
      margin-left: 4%;

      img {
        @include size(25vw, auto);
      }
      
      .video-buttons {
        margin: 4% 0;
      }

      .video-text {
        p {
          @include size(70%);
          max-width: 190vw;
          font-size: 1.34vw;
        }
      }
    }
  }
}