@import "_variable.scss";

@mixin size($width, $height: null, $max: null, $min: null) {
  width: $width;
  height: $height;
  max-width: $max;
  max-height: $max;
  min-width: $min;
  min-height: $min;
}

@mixin position($top: null, $bottom: null, $right: null, $left: null) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
}

%hover-div {
  background-color: $profile-select-background;
  opacity: 0;
  display: flex;
  flex-direction: column;
  @include position(110%, null, 0%);
  z-index: 100;
  visibility: hidden;
  transition: opacity 0.3s;

  &:after {
    content: "";
    position: absolute;
    @include position(null, 100%, 20%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }
}

@mixin profile-div($class) {
  & .#{$class} {
    border-top: 1px solid $profile-select-border;
  }
}

@mixin movies {
  z-index: 10;
  position: relative;
  overflow: hidden;
  margin-left: 4%;
  margin-top: -10%;
  padding-bottom: 3%;

  h2 {
    font-size: 1.5vw;
    font-weight: 500;
    padding-bottom: 0.4em;
  }
  .movie-div {
    display: flex;

    .movie {
      cursor: pointer;
      margin-right: 5px;
      transition: transform 0.3s ease-in;
      
      img {
        @include size(20vw, auto);
      }

      &:hover {
        transform: scale(1.4);
      }

      &:hover ~ .movie {
        position: relative; 
        right: -4vw;
      }
    }
  }
}

@mixin feature-movie($div-name, $img-size) {
  z-index: 100;

  img {
    @include size($img-size, auto);
  }

  .#{$div-name}-buttons {
    display: flex;
    margin-top: 2%;
    line-height: 88%;

    button {
      background: $banner-button;
      position: relative;
      border: none;
      height: 3vw;
      padding: .7em 2.3em;
      color: #fff;
      margin-inline-end: .8em;
      font-size: 1.1vw;
      font-weight: 700;
      outline: none;
      cursor: pointer;

      &:hover {
        background: $banner-button-hover;
        color: #000;
      }

      i {
        margin-right: 0.5em;
      }
    }
  }

  .#{$div-name}-text {
    margin-top: 0.9em;
    h3 {
      text-transform: capitalize;
      display: block;
      font-weight: 500;
      font-size: 1.6vw;
      text-align: left;
    }
    p {
      @include size(100%);
      margin-top: 1vw;
      line-height: 150%;
      font-size: 1.4vw;
    }
  }
}