@import "_variable.scss";

@mixin size($width, $height: null, $max: null, $min: null) {
  width: $width;
  height: $height;
  max-width: $max;
  max-height: $max;
  min-width: $min;
  min-height: $min;
}

@mixin position($top: null, $bottom: null, $right: null, $left: null) {
  position: absolute;
  top: $top;
  bottom: $bottom;
  right: $right;
  left: $left;
}

%hover-div {
  background-color: $profile-select-background;
  opacity: 0;
  display: flex;
  flex-direction: column;
  @include position(110%, null, 0%);
  z-index: 100;
  visibility: hidden;
  transition: opacity 0.3s;

  &:after {
    content: "";
    position: absolute;
    @include position(null, 100%, 20%);
    border-width: 7px;
    border-style: solid;
    border-color: transparent transparent #fff transparent;
  }
}

@mixin profile-div($class) {
  & .#{$class} {
    border-top: 1px solid $profile-select-border;
  }
}