@import "_variable.scss";
@import "_mixins.scss";

.header {
  position: absolute;
  margin-top: 0;
  padding: 0 3%;
  z-index: 1;

  img {
    @include size(120px, 70px);
    padding: 0;
  }
}

.container {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  // margin: 3% auto auto;

  @media screen and (max-width: 310px) {
    margin-top: 3%;
  }
  @media screen and (max-width: 216px) {
    margin-top: 20%;
  }

  .container-head {
    h1 {
      text-align: center;
      font-size: 250%;
      font-weight: 100;

      @media screen and (max-width: 408px) {
        font-size: 150%;
      }
      @media screen and (max-width: 185px) {
        margin-bottom: 40px;
      }
    }
  }

  .profiles {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    padding-right: 20px;
    padding-left: 20px;
    
    .img-div {
      display: flex;
      flex-grow: 1;
      flex-direction: column;
      align-items: center;
      margin: 0 1vw 10% 1vw;
      cursor: pointer;

      &:hover > a > img {
        border-color: white;
      }     
      &:hover > a > small {
        color: white;
      }

      a {
        @include size(auto, auto, 250px, 100px);

        text-decoration: none;
        display: flex;
        flex-direction: column;
        align-items: center;
        align-self: center;
        padding: 0;

        img {
          @include size(10.1vw, 10.1vw, 200px, 84px);
          background-repeat: no-repeat;
          background-size: cover;
          border: 0.286em solid $img-border;
          margin-bottom: 10px;
        }

        small {
          border: none;
          color: grey;
          font-size: 100%;
  
          @media screen and (max-width: 600px) {
            font-size: 80%;
          }
        }
      }
    }
  }

  .profile-button {
    width: 100%;
    margin-top: 10px;
    button {
      display: block;
      margin: auto;
      background: transparent;
      border: 1px solid grey;
      padding: 0.4em 1.8%;
      cursor: pointer;

      &:hover, &:hover > a {
        border-color: white;
        color: white;
      }

      a {
        color: grey;
        text-decoration: none;
        text-transform: uppercase;
        letter-spacing: 0.05cm;
        font-size: 100%;
      }
    }
  }
}