* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #141414;
  color: white;
  height: 100%;
}

@-webkit-keyframes slide {
  0% {
    width: 21vw;
  }
  25% {
    width: 22vw;
  }
  50% {
    width: 23vw;
  }
  75% {
    width: 24vw;
  }
  100% {
    width: 25vw;
  }
}

@keyframes slide {
  0% {
    width: 21vw;
  }
  25% {
    width: 22vw;
  }
  50% {
    width: 23vw;
  }
  75% {
    width: 24vw;
  }
  100% {
    width: 25vw;
  }
}

@-webkit-keyframes slide-big {
  0% {
    width: 19vw;
  }
  100% {
    width: 20vw;
  }
}

@keyframes slide-big {
  0% {
    width: 19vw;
  }
  100% {
    width: 20vw;
  }
}

@-webkit-keyframes slide-left {
  0% {
    left: 0vw;
  }
  25% {
    left: -9vw;
  }
  50% {
    left: -18vw;
  }
  75% {
    left: -27vw;
  }
  100% {
    left: -36vw;
  }
}

@keyframes slide-left {
  0% {
    left: 0vw;
  }
  25% {
    left: -9vw;
  }
  50% {
    left: -18vw;
  }
  75% {
    left: -27vw;
  }
  100% {
    left: -36vw;
  }
}

@-webkit-keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.header {
  position: absolute;
  margin-top: 0;
  padding: 0 3%;
  z-index: 1;
}

.header img {
  width: 120px;
  height: 70px;
  padding: 0;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 310px) {
  .container {
    margin-top: 3%;
  }
}

@media screen and (max-width: 216px) {
  .container {
    margin-top: 20%;
  }
}

.container .container-head h1 {
  text-align: center;
  font-size: 250%;
  font-weight: 100;
}

@media screen and (max-width: 408px) {
  .container .container-head h1 {
    font-size: 150%;
  }
}

@media screen and (max-width: 185px) {
  .container .container-head h1 {
    margin-bottom: 40px;
  }
}

.container .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
}

.container .profiles .img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1vw 10% 1vw;
  cursor: pointer;
}

.container .profiles .img-div:hover > a > img {
  border-color: white;
}

.container .profiles .img-div:hover > a > small {
  color: white;
}

.container .profiles .img-div a {
  width: auto;
  height: auto;
  max-width: 250px;
  max-height: 250px;
  min-width: 100px;
  min-height: 100px;
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-item-align: center;
      align-self: center;
  padding: 0;
}

.container .profiles .img-div a img {
  width: 10.1vw;
  height: 10.1vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 84px;
  min-height: 84px;
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.286em solid #1a1a1a;
  margin-bottom: 10px;
}

.container .profiles .img-div a small {
  border: none;
  color: grey;
  font-size: 100%;
}

@media screen and (max-width: 600px) {
  .container .profiles .img-div a small {
    font-size: 80%;
  }
}

.container .profile-button {
  width: 100%;
  margin-top: 10px;
}

.container .profile-button button {
  display: block;
  margin: auto;
  background: transparent;
  border: 1px solid grey;
  padding: 0.4em 1.8%;
  cursor: pointer;
}

.container .profile-button button:hover, .container .profile-button button:hover > a {
  border-color: white;
  color: white;
}

.container .profile-button button a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05cm;
  font-size: 100%;
}

@keyframes slide {
  0% {
    width: 21vw;
  }
  25% {
    width: 22vw;
  }
  50% {
    width: 23vw;
  }
  75% {
    width: 24vw;
  }
  100% {
    width: 25vw;
  }
}

@keyframes slide-big {
  0% {
    width: 19vw;
  }
  100% {
    width: 20vw;
  }
}

@keyframes slide-left {
  0% {
    left: 0vw;
  }
  25% {
    left: -9vw;
  }
  50% {
    left: -18vw;
  }
  75% {
    left: -27vw;
  }
  100% {
    left: -36vw;
  }
}

@keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

.navbar .side-nav .profile-image-div .profile-select {
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  top: 110%;
  right: 0%;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navbar .side-nav .profile-image-div .profile-select:after {
  content: "";
  position: absolute;
  position: absolute;
  bottom: 100%;
  right: 20%;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

/* Icons on Video
============================= */
.banner .banner-background .video-icons, .middle-video .middle-div .video-div .video .video-icons {
  position: absolute;
  bottom: 25%;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.banner .banner-background .video-icons i, .middle-video .middle-div .video-div .video .video-icons i, .banner .banner-background .video-icons small, .middle-video .middle-div .video-div .video .video-icons small {
  font-size: 1.1vw;
  background: rgba(51, 51, 51, 0.4);
  padding: 0.7vw;
}

.banner .banner-background .video-icons small, .middle-video .middle-div .video-div .video .video-icons small {
  padding-right: 4.5vw;
  border-left: 0.2vw solid #e5e5e5;
}

.banner .banner-background .video-icons i, .middle-video .middle-div .video-div .video .video-icons i {
  font-size: 0.8vw;
  padding: 0.5vw;
  margin-right: 1vw;
  border: 1px solid grey;
  border-radius: 50%;
  cursor: pointer;
  -webkit-transition: all 0.3s ease-out;
  transition: all 0.3s ease-out;
}

.banner .banner-background .video-icons i:hover, .middle-video .middle-div .video-div .video .video-icons i:hover {
  border-color: #e5e5e5;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
  font-size: 1.1vw;
  padding: 0.6vw;
}

@keyframes slide {
  0% {
    width: 21vw;
  }
  25% {
    width: 22vw;
  }
  50% {
    width: 23vw;
  }
  75% {
    width: 24vw;
  }
  100% {
    width: 25vw;
  }
}

@keyframes slide-big {
  0% {
    width: 19vw;
  }
  100% {
    width: 20vw;
  }
}

@keyframes slide-left {
  0% {
    left: 0vw;
  }
  25% {
    left: -9vw;
  }
  50% {
    left: -18vw;
  }
  75% {
    left: -27vw;
  }
  100% {
    left: -36vw;
  }
}

@keyframes image {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes video {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
    visibility: visible;
  }
}

/* NAVBAR 
============================== */
.navbar {
  width: 100%;
  height: 60px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1vw;
  z-index: 10000;
  top: 0%;
  padding-right: 3em;
  background: -webkit-linear-gradient(90deg, transparent, #141414);
  /*      Logo 
  =========================== */
  /* Middle Links
  ============================= */
  /* Side Links
  ======================== */
}

@media screen and (max-width: 884px) {
  .navbar {
    width: 100%;
    height: 45px;
  }
}

.navbar .logo {
  width: 7rem;
  height: auto;
  z-index: 100;
  left: 3%;
  position: relative;
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
}

.navbar a {
  color: #e5e5e5;
  text-decoration: none;
}

.navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-start: 4em;
          margin-inline-start: 4em;
}

.navbar ul :first-child a {
  font-weight: bold;
}

.navbar ul li {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.navbar ul li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: grey;
}

@media screen and (max-width: 884px) {
  .navbar ul {
    display: none;
  }
}

.navbar .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-left: auto;
}

.navbar .side-nav .search-box input {
  width: 10px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  color: white;
  border: none;
  z-index: 2147483647;
  font-size: 1rem;
  margin: 0;
  background-color: transparent;
  background-image: url("../images/search-icon.png");
  background-position: 8px 6px;
  background-size: 18px;
  background-repeat: no-repeat;
  padding: 6px 15px;
  cursor: pointer;
  -webkit-transition: width 0.2s ease-out;
  transition: width 0.2s ease-out;
  overflow: hidden;
}

.navbar .side-nav .search-box input:focus {
  width: 20em;
  z-index: 2147483647;
  -webkit-transition: width 0.5s ease-in-out;
  transition: width 0.5s ease-in-out;
  background-color: #141414;
  border: 1px solid #fff;
  cursor: initial;
  padding: 6px 20px 6px 40px;
  outline: none;
}

@media screen and (max-width: 800px) {
  .navbar .side-nav .search-box input:focus {
    width: 13.8em;
    margin-left: -100px;
  }
}

@media screen and (max-width: 400px) {
  .navbar .side-nav .search-box {
    display: none;
  }
}

.navbar .side-nav .kids {
  font-size: 1.1vw;
  text-transform: uppercase;
}

.navbar .side-nav li {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-size: 1rem;
}

.navbar .side-nav li i {
  cursor: pointer;
}

.navbar .side-nav li .fa-bell {
  font-size: 130%;
}

@media screen and (max-width: 950px) {
  .navbar .side-nav li:nth-child(2) {
    display: none;
  }
}

.navbar .side-nav .profile-image-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
  /* Profile Tooltip 
      ============================== */
}

.navbar .side-nav .profile-image-div .fa-caret-down {
  -webkit-margin-start: -7px;
          margin-inline-start: -7px;
}

.navbar .side-nav .profile-image-div li .profile-image {
  width: 35px;
  height: 35px;
}

.navbar .side-nav .profile-image-div:hover > .profile-select {
  visibility: visible;
  opacity: 1;
}

.navbar .side-nav .profile-image-div .profile-select {
  width: 166px;
  padding: 0.4em 0;
}

.navbar .side-nav .profile-image-div .profile-select .profile-select-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar .side-nav .profile-image-div .profile-select .profile-kids {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
}

.navbar .side-nav .profile-image-div .profile-select li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #fff;
  margin: 0.8em;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navbar .side-nav .profile-image-div .profile-select li img {
  width: 32px;
  height: 32px;
}

.navbar .side-nav .profile-image-div .profile-select li span {
  margin-left: 0.8em;
}

.navbar .side-nav .profile-image-div .profile-select li a {
  font-weight: 500;
}

.navbar .side-nav .profile-image-div .profile-select li a:hover {
  text-decoration: underline;
}

.navbar .side-nav .profile-image-div .profile-select .profile-kids {
  display: none;
}

.navbar .side-nav .profile-image-div .profile-select .profile-kids li button {
  color: #fff;
  padding: 1px 6px;
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .navbar .side-nav .profile-image-div .profile-select .profile-kids {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}

@media screen and (max-width: 950px) {
  .navbar .side-nav .profile-image-div .profile-select:after {
    right: 7%;
  }
}

/*    BANNER 
========================== */
.banner {
  position: relative;
  z-index: 1;
  /* Feature Movie Div 
  =============================== */
}

.banner .banner-background img, .banner .banner-background video {
  width: 100%;
  height: auto;
}

.banner .banner-div {
  width: 45%;
  height: auto;
  position: absolute;
  top: 0%;
  bottom: 20%;
  left: 4%;
  z-index: 10;
  padding-top: 12vw;
}

.banner .banner-div img {
  width: 80%;
  height: auto;
}

.banner .banner-div .banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  line-height: 88%;
}

.banner .banner-div .banner-buttons button {
  background: rgba(51, 51, 51, 0.4);
  position: relative;
  border: none;
  height: 3vw;
  padding: .7em 2.3em;
  color: #fff;
  -webkit-margin-end: .8em;
          margin-inline-end: .8em;
  font-size: 1.1vw;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.banner .banner-div .banner-buttons button:hover {
  background: #e6e6e6;
  color: #000;
}

.banner .banner-div .banner-buttons button i {
  margin-right: 0.5em;
}

.banner .banner-div .banner-text {
  margin-top: 0.9em;
}

.banner .banner-div .banner-text h3 {
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  font-size: 1.6vw;
  text-align: left;
}

.banner .banner-div .banner-text p {
  width: 100%;
  margin-top: 1vw;
  line-height: 150%;
  font-size: 1.4vw;
}

/*  Popular on Netflix
============================== */
.movies {
  z-index: 10;
  position: relative;
  overflow: hidden;
  margin-left: 4%;
  top: -10vw;
  padding-bottom: 3%;
}

.movies h2 {
  font-size: 1.5vw;
  font-weight: 500;
  padding-bottom: 0.4em;
}

.movies .movie-div {
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.movies .movie-div .left {
  width: 4vw;
  height: 10.2vw;
  position: absolute;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  overflow: visible;
  z-index: 10;
}

.movies .movie-div .left i {
  font-size: 3vw;
  padding: 0 0.5vw;
  color: #fff;
}

.movies .movie-div .left:hover ~ .movie {
  position: relative;
  -webkit-animation: slide-left 0.5s forwards ease-in;
          animation: slide-left 0.5s forwards ease-in;
}

.movies .movie-div .right {
  left: 0;
}

.movies .movie-div:hover .left {
  visibility: visible;
}

.movies .movie-div .movie {
  cursor: pointer;
  margin-right: 0.2%;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.movies .movie-div .movie img {
  width: 18vw;
  height: auto;
}

.movies .movie-div .movie:hover img {
  width: 25vw;
  height: auto;
  position: relative;
  bottom: 30px;
}

.movies .movie-div .movie:hover img:hover {
  -webkit-animation: slide 0.3s forwards ease-in;
          animation: slide 0.3s forwards ease-in;
}

/*  Netflix Original
============================== */
.original {
  position: relative;
  top: -28vw;
}

.original h2 {
  text-transform: uppercase;
}

.original .movie-div {
  height: 36vw;
}

.original .movie-div .left {
  position: absolute;
  top: 0%;
  bottom: 0%;
  margin: auto;
  margin-left: 0%;
}

.original .movie-div .movie:hover img {
  width: 20vw;
  height: auto;
}

.original .movie-div .movie:hover img:hover {
  -webkit-animation: slide-big 0.3s forwards ease-in;
          animation: slide-big 0.3s forwards ease-in;
}

/* Trending Now 
============================== */
.trending {
  z-index: 100;
}

.horror, .recent {
  z-index: 10;
  position: relative;
  overflow: hidden;
  margin-left: 4%;
  top: -10vw;
  padding-bottom: 3%;
  top: -28vw;
}

.horror h2, .recent h2 {
  font-size: 1.5vw;
  font-weight: 500;
  padding-bottom: 0.4em;
}

.horror .movie-div, .recent .movie-div {
  height: 10vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.horror .movie-div .left, .recent .movie-div .left {
  width: 4vw;
  height: 10.2vw;
  position: absolute;
  right: 0%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: rgba(0, 0, 0, 0.5);
  visibility: hidden;
  overflow: visible;
  z-index: 10;
}

.horror .movie-div .left i, .recent .movie-div .left i {
  font-size: 3vw;
  padding: 0 0.5vw;
  color: #fff;
}

.horror .movie-div .left:hover ~ .movie, .recent .movie-div .left:hover ~ .movie {
  position: relative;
  -webkit-animation: slide-left 0.5s forwards ease-in;
          animation: slide-left 0.5s forwards ease-in;
}

.horror .movie-div .right, .recent .movie-div .right {
  left: 0;
}

.horror .movie-div:hover .left, .recent .movie-div:hover .left {
  visibility: visible;
}

.horror .movie-div .movie, .recent .movie-div .movie {
  cursor: pointer;
  margin-right: 0.2%;
  -webkit-transition: -webkit-transform 0.3s ease-in;
  transition: -webkit-transform 0.3s ease-in;
  transition: transform 0.3s ease-in;
  transition: transform 0.3s ease-in, -webkit-transform 0.3s ease-in;
}

.horror .movie-div .movie img, .recent .movie-div .movie img {
  width: 18vw;
  height: auto;
}

.horror .movie-div .movie:hover img, .recent .movie-div .movie:hover img {
  width: 25vw;
  height: auto;
  position: relative;
  bottom: 30px;
}

.horror .movie-div .movie:hover img:hover, .recent .movie-div .movie:hover img:hover {
  -webkit-animation: slide 0.3s forwards ease-in;
          animation: slide 0.3s forwards ease-in;
}

/* Middle Video
============================== */
.middle-video {
  position: relative;
  top: -20vw;
  overflow: hidden;
}

.middle-video .middle-background {
  position: relative;
}

.middle-video .middle-background img {
  width: 100%;
  opacity: 0.08;
}

.middle-video .middle-div {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0%;
  bottom: 0%;
  right: 0%;
  left: 0%;
  margin-left: 4%;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  justify-items: space-around;
}

.middle-video .middle-div .video-div img, .middle-video .middle-div .video-div video {
  width: 55vw;
  height: auto;
}

.middle-video .middle-div .video-div img {
  -webkit-animation: image 5s ease-in forwards;
          animation: image 5s ease-in forwards;
}

.middle-video .middle-div .video-div .video {
  position: relative;
}

.middle-video .middle-div .video-div .video video {
  position: absolute;
  bottom: 100%;
  margin: auto;
  opacity: 0;
  -webkit-animation: video 5s ease-in forwards;
          animation: video 5s ease-in forwards;
}

.middle-video .middle-div .video-div .video .video-icons {
  margin-bottom: 10%;
  -webkit-animation: video 3s ease-in forwards;
          animation: video 3s ease-in forwards;
}

.middle-video .middle-div .video-detail {
  margin-left: 4%;
}

.middle-video .middle-div .video-detail img {
  width: 80%;
  height: auto;
}

.middle-video .middle-div .video-detail .video-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  line-height: 88%;
}

.middle-video .middle-div .video-detail .video-buttons button {
  background: rgba(51, 51, 51, 0.4);
  position: relative;
  border: none;
  height: 3vw;
  padding: .7em 2.3em;
  color: #fff;
  -webkit-margin-end: .8em;
          margin-inline-end: .8em;
  font-size: 1.1vw;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.middle-video .middle-div .video-detail .video-buttons button:hover {
  background: #e6e6e6;
  color: #000;
}

.middle-video .middle-div .video-detail .video-buttons button i {
  margin-right: 0.5em;
}

.middle-video .middle-div .video-detail .video-text {
  margin-top: 0.9em;
}

.middle-video .middle-div .video-detail .video-text h3 {
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  font-size: 1.6vw;
  text-align: left;
}

.middle-video .middle-div .video-detail .video-text p {
  width: 100%;
  margin-top: 1vw;
  line-height: 150%;
  font-size: 1.4vw;
}

.middle-video .middle-div .video-detail img {
  width: 25vw;
  height: auto;
}

.middle-video .middle-div .video-detail .video-buttons {
  margin: 4% 0;
}

.middle-video .middle-div .video-detail .video-text p {
  width: 70%;
  max-width: 190vw;
  font-size: 1.34vw;
}

/* FOOTER 
===================== */
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 6% 10%;
  position: relative;
  top: -28vw;
}

.footer .list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.footer ul {
  width: 25%;
}

.footer a, .footer i {
  color: grey;
  text-decoration: none;
  cursor: pointer;
  font-size: 1vw;
}

.footer a:hover {
  text-decoration: underline;
}

.footer i {
  font-size: 2.4vw;
  padding-right: 2vw;
}

.footer button {
  background: transparent;
  border: 1px solid grey;
  color: grey;
  font-size: 1vw;
  margin-top: 1vw;
  padding: 0.5vw;
  cursor: pointer;
}

.footer button:hover {
  color: #fff;
  border-color: #fff;
}

.footer li {
  padding: 0.5vw 0;
}
/*# sourceMappingURL=main.css.map */