* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style: none;
  font-family: 'Rubik', Helvetica, Arial, sans-serif;
}

html {
  height: 100%;
}

body {
  background-color: #141414;
  color: white;
  height: 100%;
}

.header {
  position: absolute;
  margin-top: 0;
  padding: 0 3%;
  z-index: 1;
}

.header img {
  width: 120px;
  height: 70px;
  padding: 0;
}

.container {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

@media screen and (max-width: 310px) {
  .container {
    margin-top: 3%;
  }
}

@media screen and (max-width: 216px) {
  .container {
    margin-top: 20%;
  }
}

.container .container-head h1 {
  text-align: center;
  font-size: 250%;
  font-weight: 100;
}

@media screen and (max-width: 408px) {
  .container .container-head h1 {
    font-size: 150%;
  }
}

@media screen and (max-width: 185px) {
  .container .container-head h1 {
    margin-bottom: 40px;
  }
}

.container .profiles {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  padding-right: 20px;
  padding-left: 20px;
}

.container .profiles .img-div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 1vw 10% 1vw;
  cursor: pointer;
}

.container .profiles .img-div:hover > img {
  border-color: white;
}

.container .profiles .img-div:hover > small {
  color: white;
}

.container .profiles .img-div img {
  width: 10vw;
  height: 10vw;
  max-width: 200px;
  max-height: 200px;
  min-width: 84px;
  min-height: 84px;
  margin-bottom: 10px;
  background-repeat: no-repeat;
  background-size: cover;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
  border: 0.2em solid #1a1a1a;
}

.container .profiles .img-div small {
  color: grey;
  font-size: 100%;
}

@media screen and (max-width: 600px) {
  .container .profiles .img-div small {
    font-size: 80%;
  }
}

.container .profile-button {
  width: 100%;
  margin-top: 10px;
}

.container .profile-button button {
  display: block;
  margin: auto;
  background: transparent;
  border: 1px solid grey;
  padding: 0.4em 1.8%;
  cursor: pointer;
}

.container .profile-button button:hover, .container .profile-button button:hover > a {
  border-color: white;
  color: white;
}

.container .profile-button button a {
  color: grey;
  text-decoration: none;
  text-transform: uppercase;
  letter-spacing: 0.05cm;
  font-size: 100%;
}

.navbar {
  width: 100%;
  height: 50px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: fixed;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1vw;
  z-index: 10000;
  top: 0;
  padding: 0 4%;
  background: -webkit-linear-gradient(90deg, transparent, #141414);
}

@media screen and (max-width: 884px) {
  .navbar {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.navbar > img {
  width: 120px;
  height: 65px;
  cursor: pointer;
  padding-top: 0;
  margin-top: 0;
  margin-right: auto;
}

.navbar a {
  color: #e5e5e5;
  text-decoration: none;
}

.navbar ul {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-margin-start: 10px;
          margin-inline-start: 10px;
}

.navbar ul li {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
}

.navbar ul li a {
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.navbar ul li a:hover {
  color: grey;
}

@media screen and (max-width: 884px) {
  .navbar ul {
    display: none;
  }
}

.navbar .side-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.navbar .side-nav .kids {
  font-size: 1.1vw;
  text-transform: uppercase;
}

.navbar .side-nav li {
  -webkit-margin-start: 0px;
          margin-inline-start: 0px;
  -webkit-margin-end: 0px;
          margin-inline-end: 0px;
  -webkit-padding-start: 20px;
          padding-inline-start: 20px;
  font-size: 120%;
}

.navbar .side-nav li i {
  cursor: pointer;
}

.navbar .side-nav li .fa-bell {
  font-size: 130%;
}

@media screen and (max-width: 950px) {
  .navbar .side-nav li:nth-child(2) {
    display: none;
  }
}

.navbar .side-nav .profile-image {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  cursor: pointer;
}

.navbar .side-nav .profile-image .fa-caret-down {
  -webkit-margin-start: -7px;
          margin-inline-start: -7px;
}

.navbar .side-nav .profile-image li img {
  width: 35px;
  height: 35px;
}

.navbar .side-nav .profile-image:hover > .profile-select {
  visibility: visible;
  opacity: 1;
}

.navbar .side-nav .profile-image .profile-select {
  width: 166px;
  background-color: rgba(0, 0, 0, 0.9);
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: absolute;
  right: 0%;
  top: 110%;
  padding: 0.4em 0.8em;
  z-index: 100;
  visibility: hidden;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}

.navbar .side-nav .profile-image .profile-select:after {
  content: "";
  position: absolute;
  bottom: 100%;
  right: 20%;
  border-width: 7px;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

.navbar .side-nav .profile-image .profile-select li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 13px;
  color: #fff;
  margin-top: 0.8em;
  -webkit-padding-start: 0;
          padding-inline-start: 0;
}

.navbar .side-nav .profile-image .profile-select li img {
  width: 32px;
  height: 32px;
}

.navbar .side-nav .profile-image .profile-select li span {
  margin-left: 0.8em;
}

.navbar .side-nav .profile-image .profile-select li a {
  font-weight: 500;
}

.navbar .side-nav .profile-image .profile-select li a:hover {
  text-decoration: underline;
}

.navbar .side-nav .profile-image .profile-select .profile-manage {
  padding: 1em 0;
}

.navbar .side-nav .profile-image .profile-select .profile-select-bottom {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 0.8em;
}

@media screen and (max-width: 950px) {
  .navbar .side-nav .profile-image .profile-select {
    right: -35%;
  }
}

.banner {
  position: relative;
  z-index: 1;
}

.banner .banner-background img {
  width: 100%;
  height: auto;
}

.banner .banner-div {
  width: 45%;
  height: 130%;
  position: absolute;
  z-index: 100;
  top: 10vw;
  display: block;
  padding-left: 4%;
}

.banner .banner-div img {
  width: 80%;
}

.banner .banner-div .banner-buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 2%;
  line-height: 88%;
}

.banner .banner-div .banner-buttons button {
  position: relative;
  background: rgba(51, 51, 51, 0.4);
  border: none;
  height: 3vw;
  padding: .7em 2.3em;
  color: #fff;
  -webkit-margin-end: .8em;
          margin-inline-end: .8em;
  font-size: 1.1vw;
  font-weight: 700;
  outline: none;
  cursor: pointer;
}

.banner .banner-div .banner-buttons button:hover {
  background: #e6e6e6;
  color: #000;
}

.banner .banner-div .banner-buttons button i {
  margin-right: 0.5em;
}

.banner .banner-div .banner-detail {
  margin-top: 0.9em;
}

.banner .banner-div .banner-detail h3 {
  text-transform: capitalize;
  display: block;
  font-weight: 500;
  font-size: 1.6vw;
  text-align: left;
}

.banner .banner-div .banner-detail p {
  width: 100%;
  margin-top: 1vw;
  line-height: 150%;
  font-size: 1.4vw;
}
/*# sourceMappingURL=main.css.map */